.App {
  margin: 16px;
}

.LettersWrapper {
  display: flex;
  flex-wrap: wrap;
}

.Count {
  background-color: yellow;
  margin: 10px 0;
}

.App .Test .Active {
  background-color: red;
}

.App .Test .Active:hover {
  background-color: yellow;
}

.App.Go .Test .Active {
  background-color: blue;
}
